<div class="col-md-12 ">


  <br>
  <%= simple_form_for @week_table do |t| %>
  <div class="text-center">

  <p><strong>No edit fuction  here. If you just need edit a single event, go to the index and click the coreresponding event to edit.</strong> Before editing or creating the weely schedule, please <strong>do reset and delete</strong> the current one</p>
  <%= link_to "Reset the weekly schedule", week_tables_path, class:"btn btn-danger" %>
  <%= link_to "Edit specific events", events_path, class:"btn btn-success" %>
  </div>
  <br>
  <div class="text-center">


  <h2>Shift schedule</h2>
  </div>
  <table>
    <thead>
      <tr>
        <th></th>
        <th>10-12AM</th>
        <th>12pM-14PM</th>
        <th>2-4PM</th>
        <th>4-6PM</th>
        <th>6-8PM</th>
        <th>8-10PM</th>
        <th>10-12PM</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sat</td>
        <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 10am")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 12pm") %>
          <%= e.hidden_field :summary, value:"10pm-12pm 助教"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>

      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 12pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 2pm") %>
        <%= e.hidden_field :summary, value:"12-2pm 助教"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>


        <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 2pm")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 4pm") %>
          <%= e.hidden_field :summary, value:"2pm-4pm 助教"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>
      <td>
        <%= t.simple_fields_for :events,input_html: {remote: true  } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 4pm")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 6pm") %>
          <%= e.hidden_field :summary, value:"4pm-6pm 助教"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>
        <td>  <%= t.simple_fields_for :events,input_html: {remote: true,  } do |e| %>
            <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 6pm")%>
            <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 8pm") %>
            <%= e.hidden_field :summary, value:"6pm-8pm 助教"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
          <% end %> </td>
        <td>   <%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
            <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 8pm")%>
            <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 10pm") %>
            <%= e.hidden_field :summary, value:" 4pm-6 pm 助教"%>
              <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
          <% end %></td>
        <td>   <%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
            <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 10pm")%>
            <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 11:59pm") %>
            <%= e.hidden_field :summary, value:"10pm-12 pm 助教"%>
              <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
          <% end %></td>


      </tr>
      <tr>
        <td>Sun</td>

        <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 10am")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 12pm") %>
          <%= e.hidden_field :summary, value:"10am - 12am 助教"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>

      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 12pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 2pm") %>
        <%= e.hidden_field :summary, value:"12am - 2am 助教"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>



        <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 2pm")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 4pm") %>
          <%= e.hidden_field :summary, value:"2-4 pm 助教"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>
      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 4pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 6pm") %>
        <%= e.hidden_field :summary, value:"4-6 pm 助教"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>
    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 6pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 8pm") %>
        <%= e.hidden_field :summary, value:"6-8 pm 助教"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>
    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 8pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 10pm") %>
        <%= e.hidden_field :summary, value:"8-10 pm 助教"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>
    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 10pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 11:59pm") %>
        <%= e.hidden_field :summary, value:"10-12 pm 助教"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>
      </tr>


      <td>Mon</td>
      <td></td>
      <td></td>
      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This Monday at 2pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This Monday at 4pm") %>
        <%= e.hidden_field :summary, value:"2-4 pm 助教"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>

    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
    <%= e.hidden_field :start_time, value: set_up_shift_time("This Monday at 4pm")%>
    <%= e.hidden_field :end_time, value:set_up_shift_time("This Monday at 6pm") %>
    <%= e.hidden_field :summary, value:"4-6pm 助教"%>
      <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
  <% end %>
</td>
  <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
    <%= e.hidden_field :start_time, value: set_up_shift_time("This Monday at 6pm")%>
    <%= e.hidden_field :end_time, value:set_up_shift_time("This Monday at 8pm") %>
    <%= e.hidden_field :summary, value:"6-8pm助教"%>
      <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
  <% end %>
</td>

<td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
    <%= e.hidden_field :start_time, value: set_up_shift_time("This Monday at 8pm")%>
    <%= e.hidden_field :end_time, value:set_up_shift_time("This Monday at 10pm") %>
    <%= e.hidden_field :summary, value:"8-10 pm助教"%>
      <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
  <% end %>
</td>

<td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
    <%= e.hidden_field :start_time, value: set_up_shift_time("This Monday at 10pm")%>
    <%= e.hidden_field :end_time, value:set_up_shift_time("This Monday at 11:59pm") %>
    <%= e.hidden_field :summary, value:"10-12 pm助教"%>
      <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
  <% end %>
</td>


    </tr>


      <tr>
        <td>Tue</td>
        <td></td>
        <td></td>
        <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("This Tuesday at 2pm")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("This Tuesday at 4pm") %>
          <%= e.hidden_field :summary, value:"Tue 2-4 pm 助教"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>

      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This Tuesday at 4pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This Tuesday at 6pm") %>
        <%= e.hidden_field :summary, value:" Tue 4-6 pm 助教"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>

    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This Tuesday at 6pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This Tuesday at 8pm") %>
        <%= e.hidden_field :summary, value:"Tue 6-8 pm 助教"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>

    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This Tuesday at 8pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This Tuesday at 10pm") %>
        <%= e.hidden_field :summary, value:"8-10 pm 助教"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>


    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This Tuesday at 10pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This Tuesday at 11:59pm") %>
        <%= e.hidden_field :summary, value:"10-12 pm 助教"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>


      </tr>




        <tr>
          <td>Wed</td>
          <td></td>
          <td></td>

          <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("This Wednesday at 2pm")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("This Wednesday at 4pm") %>
          <%= e.hidden_field :summary, value:"2-4 pm 助教"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>

      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("This Wednesday at 4pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("This Wednesday at 6pm") %>
      <%= e.hidden_field :summary, value:"4-6 pm 助教"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>

  <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("This Wednesday at 6pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("This Wednesday at 8pm") %>
      <%= e.hidden_field :summary, value:"6-8 pm 助教"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>


  <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("This Wednesday at 8pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("This Wednesday at 10pm") %>
      <%= e.hidden_field :summary, value:"8-10 pm 助教"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>


  <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("This Wednesday at 10pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("This Wednesday at 11:59pm") %>
      <%= e.hidden_field :summary, value:"10-12 pm 助教"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>


        </tr>




        <tr>
          <td>Thur</td>
          <td></td>
          <td></td>
          <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This Thurday at 2pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This Thursday at 4pm") %>
        <%= e.hidden_field :summary, value:"2-4 pm 助教"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>

        <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This Thurday at 4pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This Thursday at 6pm") %>
        <%= e.hidden_field :summary, value:"4-6 pm 助教"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>

<td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
<%= e.hidden_field :start_time, value: set_up_shift_time("This Thurday at 6pm")%>
<%= e.hidden_field :end_time, value:set_up_shift_time("This Thursday at 8pm") %>
<%= e.hidden_field :summary, value:"6-8 pm 助教"%>
  <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
<% end %>
</td>


<td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("This Thurday at 8pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("This Thursday at 10pm") %>
      <%= e.hidden_field :summary, value:"8-10 pm 助教"%>
      <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>


  <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("This Thurday at 10pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("This Thursday at 11:59pm") %>
      <%= e.hidden_field :summary, value:"10-12 pm 助教"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>


        </tr>






        <tr>
      <td>Fri</td>
      <td></td>
      <td></td>

      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("This Friday at 2pm")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("This Friday at 4pm") %>
          <%= e.hidden_field :summary, value:"2-4 pm 助教"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>

      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
       <%= e.hidden_field :start_time, value: set_up_shift_time("This Friday at 4pm")%>
       <%= e.hidden_field :end_time, value:set_up_shift_time("This Friday at 6pm") %>
       <%= e.hidden_field :summary, value:"4-6 pm 助教"%>
         <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
     <% end %>
   </td>

   <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("This Friday at 6pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("This Friday at 8pm") %>
      <%= e.hidden_field :summary, value:"6-8 pm 助教"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>


  <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("This Friday at 8pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("This Friday at 10pm") %>
      <%= e.hidden_field :summary, value:"8-10 pm 助教"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>

  <td><%= t.simple_fields_for :events,input_html: {remote: true, class: "form-control"} do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("This Friday at 10pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("This Friday at 11:59pm") %>
      <%= e.hidden_field :summary, value:"10-12 pm 助教"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>
    </tr>

  </tbody>
</table>





    <%= t.submit "finish and submit", class:"btn btn-primary pull-right", data:{ disable_with: "Submitting…"} %>

      <% end %>













</div>
