<div class="col-md-4 ">

<h2>助教排班表</h2>

  <%= simple_form_for @week_table do |t| %>
   
  <table>
    <thead>
      <tr>
        <th></th>
        <th>10-12AM</th>
        <th>12am-14pm</th>
        <th>2-4PM</th>
        <th>4-6PM</th>
        <th>6-8PM</th>
        <th>8-10PM</th>
        <th>10-12PM</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sat</td>
        <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 10am")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 12am") %>
          <%= e.hidden_field :summary, value:"TA on Fullstack sat 10-12 am"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>

      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 12am")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 2pm") %>
        <%= e.hidden_field :summary, value:"TA on Fullstack sat 12-2 pm"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>


        <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 2pm")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 4pm") %>
          <%= e.hidden_field :summary, value:"TA on Fullstack sat 2-4 pm"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>
      <td>
        <%= t.simple_fields_for :events,input_html: {remote: true  } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 4pm")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 6pm") %>
          <%= e.hidden_field :summary, value:"TA on Fullstack SAT 4-6 pm"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>
        <td>  <%= t.simple_fields_for :events,input_html: {remote: true,  } do |e| %>
            <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 6pm")%>
            <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 8pm") %>
            <%= e.hidden_field :summary, value:"TA on Fullstack SAT 6-8 pm"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
          <% end %> </td>
        <td>   <%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
            <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 8pm")%>
            <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 10pm") %>
            <%= e.hidden_field :summary, value:"TA on Fullstack SAT 4-6 pm"%>
              <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
          <% end %></td>
        <td>   <%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
            <%= e.hidden_field :start_time, value: set_up_shift_time("This week Saturday at 10pm")%>
            <%= e.hidden_field :end_time, value:set_up_shift_time("This week Saturday at 12pm") %>
            <%= e.hidden_field :summary, value:"TA on Fullstack SAT 4-6 pm"%>
              <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
          <% end %></td>


      </tr>
      <tr>
        <td>Sun</td>

        <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 10am")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 12am") %>
          <%= e.hidden_field :summary, value:"TA on Fullstack Sun 10am - 12am"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>

      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 12am")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 2pm") %>
        <%= e.hidden_field :summary, value:"TA on Fullstack Sun 12am - 2am"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>



        <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 2pm")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 4pm") %>
          <%= e.hidden_field :summary, value:"TA on Fullstack Sun 2-4 pm"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>
      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 4pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 6pm") %>
        <%= e.hidden_field :summary, value:"TA on Fullstack Sun 4-6 pm"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>
    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 6pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 8pm") %>
        <%= e.hidden_field :summary, value:"TA on Fullstack Sun 6-10 pm"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>
    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 8pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 10pm") %>
        <%= e.hidden_field :summary, value:"TA on Fullstack Sun 8-10 pm"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>
    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("This week Sunday at 10pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("This week Sunday at 12pm") %>
        <%= e.hidden_field :summary, value:"TA on Fullstack Sun 10-12 pm"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>
      </tr>


      <td>Mon</td>
      <td></td>
      <td></td>
      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Monday at 2pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Monday at 4pm") %>
        <%= e.hidden_field :summary, value:"TA on Fullstack Mon 2-4 pm"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>

    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
    <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Monday at 4pm")%>
    <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Monday at 6pm") %>
    <%= e.hidden_field :summary, value:"TA on Fullstack Mon 4-6 pm"%>
      <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
  <% end %>
</td>
  <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
    <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Monday at 6pm")%>
    <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Monday at 8pm") %>
    <%= e.hidden_field :summary, value:"TA on Fullstack Mon 6-8 pm"%>
      <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
  <% end %>
</td>

<td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
    <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Monday at 8pm")%>
    <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Monday at 10pm") %>
    <%= e.hidden_field :summary, value:"TA on Fullstack Mon 8-10 pm"%>
      <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
  <% end %>
</td>

<td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
    <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Monday at 10pm")%>
    <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Monday at 12pm") %>
    <%= e.hidden_field :summary, value:"TA on Fullstack Mon 10-12 pm"%>
      <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
  <% end %>
</td>


    </tr>


      <tr>
        <td>Tue</td>
        <td></td>
        <td></td>
        <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Tuesday at 2pm")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Tuesday at 4pm") %>
          <%= e.hidden_field :summary, value:"TA on Fullstack Tue 2-4 pm"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>

      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Tuesday at 4pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Tuesday at 6pm") %>
        <%= e.hidden_field :summary, value:"TA on Fullstack Tue 4-6 pm"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>

    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Tuesday at 6pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Tuesday at 8pm") %>
        <%= e.hidden_field :summary, value:"TA on Fullstack Tue 6-8 pm"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>

    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Tuesday at 8pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Tuesday at 10pm") %>
        <%= e.hidden_field :summary, value:"TA on Fullstack Tue 8-10 pm"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>


    <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Tuesday at 10pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Tuesday at 12pm") %>
        <%= e.hidden_field :summary, value:"TA on Fullstack Tue 10-12 pm"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>


      </tr>




        <tr>
          <td>Wed</td>
          <td></td>
          <td></td>

          <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Wednesday at 2pm")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Wednesday at 4pm") %>
          <%= e.hidden_field :summary, value:"TA on Fullstack Wed 2-4 pm"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>

      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Wednesday at 4pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Wednesday at 6pm") %>
      <%= e.hidden_field :summary, value:"TA on Fullstack Wed 4-6 pm"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>

  <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Wednesday at 6pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Wednesday at 8pm") %>
      <%= e.hidden_field :summary, value:"TA on Fullstack Wed 6-8 pm"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>


  <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Wednesday at 8pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Wednesday at 10pm") %>
      <%= e.hidden_field :summary, value:"TA on Fullstack Wed 8-10 pm"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>


  <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Wednesday at 10pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Wednesday at 12pm") %>
      <%= e.hidden_field :summary, value:"TA on Fullstack Wed 10-12 pm"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>


        </tr>




        <tr>
          <td>Thur</td>
          <td></td>
          <td></td>
          <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Thurday at 2pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Thursday at 4pm") %>
        <%= e.hidden_field :summary, value:"TA on Fullstack Thu 2-4 pm"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>

        <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
        <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Thurday at 4pm")%>
        <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Thursday at 6pm") %>
        <%= e.hidden_field :summary, value:"TA on Fullstack Thu 4-6 pm"%>
          <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
      <% end %>
    </td>

<td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
<%= e.hidden_field :start_time, value: set_up_shift_time("Next week Thurday at 6pm")%>
<%= e.hidden_field :end_time, value:set_up_shift_time("Next week Thursday at 8pm") %>
<%= e.hidden_field :summary, value:"TA on Fullstack Thu 6-8 pm"%>
  <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
<% end %>
</td>


<td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Thurday at 8pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Thursday at 10pm") %>
      <%= e.hidden_field :summary, value:"TA on Fullstack Thu 8-10 pm"%>
      <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>


  <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Thurday at 10pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Thursday at 12pm") %>
      <%= e.hidden_field :summary, value:"TA on Fullstack Thu 10-12 pm"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>


        </tr>






        <tr>
      <td>Fri</td>
      <td></td>
      <td></td>

      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
          <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Friday at 2pm")%>
          <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Friday at 4pm") %>
          <%= e.hidden_field :summary, value:"TA on Fullstack Fri 2-4 pm"%>
            <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
        <% end %>
      </td>

      <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
       <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Friday at 4pm")%>
       <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Friday at 6pm") %>
       <%= e.hidden_field :summary, value:"TA on Fullstack Fri 4-6 pm"%>
         <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
     <% end %>
   </td>

   <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Friday at 6pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Friday at 8pm") %>
      <%= e.hidden_field :summary, value:"TA on Fullstack Fri 6-8 pm"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>


  <td><%= t.simple_fields_for :events,input_html: {remote: true } do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Friday at 8pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Friday at 10pm") %>
      <%= e.hidden_field :summary, value:"TA on Fullstack Fri 8-10 pm"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>

  <td><%= t.simple_fields_for :events,input_html: {remote: true, class: "form-control"} do |e| %>
      <%= e.hidden_field :start_time, value: set_up_shift_time("Next week Friday at 10pm")%>
      <%= e.hidden_field :end_time, value:set_up_shift_time("Next week Friday at 12pm") %>
      <%= e.hidden_field :summary, value:"TA on Fullstack Fri 10-12 pm"%>
        <%= e.input :all_slacks,as: :text, input_html: {rows:5}, label: false, placeholder:"e.g: 'yungyuan, yi-hung,frank'"%>
    <% end %>
  </td>
    </tr>






      <%= t.submit "Submit", class:"btn btn-primary", data:{ disable_with: "Submitting…"} %>

      <% end %>

      </tr>
    </tbody>
  </table>












</div>
