<div class="col-md-12">
  <div class="event">
    <%= link_to("New event", new_event_path, class:"btn btn-primary pull-right") %>
    <%= form_tag(events_path, method: :get, id: "search_form") do %>
    <%= text_field_tag :slack, params[:slack] %>
    <%= submit_tag "Search" %>
    <% end %>

    </div>
    <table class="table table-hover">
    <thead>
      <tr>

        <td>summary</td>
        <td>start_time</td>
        <td>end_time</td>
        <td>Calender</td>
      </tr>
    </thead>
    <tbody>

      <% if @events.present? %>
     <%= render "event" %>
     <% else %>
     <p>No such slack Id</p>
     <% end %>
   </tr>

    </tbody>
    </table>

</div>
