<div class="col-md-12">

  <div class="container">
    <div class="search">


    <%= form_tag(events_path, method: :get) do %>
    <%= text_field_tag :slack, params[:slack], class:"form-control input-lg",placeholder:"Enter your slack id and export your calendar", size:100 %>
    <%= submit_tag "Search", class:"form-control btn btn-info" %>

    <% end %>
  </div>
<br>

  <% if current_user %>
  <div class="group">
    <%= link_to "Export  all the events", {controller:'events', action: :ics_export, format: :ics}, class: 'btn btn-primary pull-left' %>



   <%= link_to "Import it into the Google Calendar and post the events to slack", "https://calendar.google.com", class:'btn btn-success pull-right'%>
  <% end %>
  </div>
    </div>



  <br>

    <% if current_user %>

      <%= link_to("Set up a new weekly shift", new_week_table_path, class:"btn btn-danger pull-right") %>

      <% end %>
      <br>
      <br>
    <table class="table table-bordered table-responsive table-hover">
    <thead>
      <hr>
      <tr>

        <td>Shift</td>
        <td>TAs</td>
        <td>Calendar Download Links</td>
        <% if current_user %>
        <td>delete</td>
        <% end %>
      </tr>
    </thead>
    <tbody>


      <% if @events.present? %>
      <%= render "event" %>
      <% else %>
       <p>Please enter your slack id</p>
      <% end %>

    </tbody>
    </table>

</div>
