<div class="col-md-12">
  <div class="group">
    <%= link_to("New event", new_event_path, class:"btn btn-primary pull-right") %>
    </div>
    <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>summary</td>
        <td>content</td>
        <td>start_time</td>
        <td>end_time</td>

      </tr>
    </thead>
    <tbody>

   <tr>
     <% @events.each do |event| %>
     <td>#</td>
     <td><%= link_to(event.summary, event_path(event)) %></td>
     <td><%= event.content %></td>
     <td><%= event.start_time %></td>
     <td><%= event.end_time %></td>
     <td>

       <%= link_to("Edit", edit_event_path(event), class:"btn btn-sm btn-default")%>
       <%= link_to("Delete", event_path(event), class:"btn btn-sm btn-default",
       method: :delete, data: { comfirm: "Are you sure?"} ) %>

     </td>
      <% end %>
   </tr>

    </tbody>
    </table>

</div>
