<div class="col-md-4 col-md-offset-4">
    <h2>Friday 2-4PM</h2>

    <hr>

    <%= simple_form_for @event,input_html: {remote: true, class: "form-control"}  do |e| %>
    <div class="form-group">
      <%= e.hidden_field :start_time, value: %>
      <%= e.hidden_field :end_time, value: %>

      <%= e.input :summary%>
      <%= e.input :all_slacks %>

      <%= e.submit "Submit", class:"btn btn-primary", data:{ disable_with: "Submitting…"} %>

      </div>
    </div>


  <% end %>

</div>
