<div class="col-md-4 col-md-offset-4">
    <h2>New</h2>

    <hr>

    <%= simple_form_for @event do |e| %>
    <div class="form-group">
      <%= e.input :start_time, input_html: { class: "form-control"} %>
      <%= e.input :end_time, input_html: { class: "form-control"} %>
      <%= e.input :summary, input_html: { class: "form-control"} %>
      <%= e.input :slack, input_html: { class: "form-control"} %>
      <%= e.submit "Submit", class:"btn btn-primary", data:{ disable_with: "Submitting…"} %>

      </div>
    </div>


  <% end %>

</div>
